<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Shantell+Sans:wght@300&display=swap"
        rel="stylesheet">

    <body style=" height: 100vh;">
        <a class="button btn btn1" style="position: fixed; bottom: 0; right: 0;"
            onClick="document.querySelector('#popup2').classList.add('is-active')">

            New Nation
        </a>
        <div style="margin-top: 100px;">
            <% if(success_msg !='' ){ %>
                <article class="message is-success is-small">
                    <div class="alert alert-danger alert-dismissible"
                        style="font-size:20px; width: 250px; height: 30px; text-align: center;" role="alert">
                        <%= success_msg %>
                    </div>
                    <% } %>
                        <% if(error_msg !='' ){ %>
                            <div class="alert alert-danger alert-dismissible" style="color:red;" role="alert">
                                <%= error_msg %>
                            </div>
                            <% } %>

                                <% if(error !='' ){ %>
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <%= error %>
                                    </div>
                </article>
                <% } %>


        </div>


        <!-- Popup -->
        <div id="popup2" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head" style="background-color: hsl(0, 0%, 0%);">
                    <p class="modal-card-title" style="text-align: center; font-weight: 700; color: aliceblue;"> ADD NEW
                        NATION</p>
                    <button class="delete" aria-label="close"
                        onclick="document.querySelector('#popup2').classList.remove('is-active')"></button>
                </header>
                <section class="modal-card-body">
                    <form method="post" action="/nations">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Nation</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-info" required name="name" type="text"
                                            placeholder="e.g. Brazil">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Description</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-info" required name="description" type="text"
                                            placeholder="Let's description">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal" style="margin-left: 120px;">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" type="submit"
                                            style="font-weight: 700; background-color: black; color: aliceblue; align-items: center;">
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <!-- table content -->
        <div class="container is-boxed" style=" justify-content: center; padding-top: 100px;">
            <div>
                <table style="background-color: rgba(0, 0, 0, 0.116);" id="mytable"
                    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                    style="width: 2000px; border-radius: 15px;">
                    <thead style="height: 40px; background-color: none;">
                        <tr>
                            <th style="text-align: center;">Nations</th>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgba(0, 0, 0, 0.116);" style="text-align: center">
                        <% nations.forEach(function(nation) { %>
                            <tr style="background-color: rgba(0, 0, 0, 0.192); color: aliceblue;">
                                <td style="padding-top: 18px; text-align: center; font-family: 'Cormorant Garamond', serif;
                                font-family: 'Shantell Sans', cursive; font-weight: 700; font-size: 20px;">
                                    <%= nation.name %>
                                </td>
                                <td style="padding-top: 18px; text-align: center; font-family: 'Cormorant Garamond', serif;
                                font-family: 'Shantell Sans', cursive; font-weight: 700; font-size: 20px;">
                                    <%= nation.description %>
                                </td>
                                <td style="padding-top: 12px; text-align: center; font-family: 'Cormorant Garamond', serif;
                                font-family: 'Shantell Sans', cursive; font-weight: 700; font-size: 20px; ">

                                    <div class="dropdown" style="height: 50px;">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3"
                                                style="color: aliceblue; background-color: gray; border-style: none;">
                                                <span class="icon ">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content" style="width: 120px">
                                                <a class="dropdown-item" style="padding:0%; padding-bottom:5px;"
                                                    href="/nations/edit/<%=nation.id %>"><i class="fa-solid fa-pencil"
                                                        style="margin-left: 6px; margin-right: 10px;"></i>Edit</a>
                                                <a class="dropdown-item" style="padding:0%;"
                                                    href="/nations/delete/<%=nation.id %>"
                                                    onclick="return confirm('Are you sure ???')"><i
                                                        class="fa-solid fa-trash-can"
                                                        style="margin-left: 6px; margin-right: 10px;"></i>Delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- popup -->

    </body>
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
        document.addEventListener('DOMContentLoaded', function () {
            // Get all "dropdown" elements
            var dropdowns = Array.prototype.slice.call(document.querySelectorAll('.dropdown'), 0);

            // Loop through all dropdowns and bind click event
            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('click', function (event) {
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });
            });

            // Close dropdowns when clicking outside
            document.addEventListener('click', function (event) {
                closeDropdowns();
            });

            function closeDropdowns() {
                dropdowns.forEach(function (dropdown) {
                    dropdown.classList.remove('is-active');
                });
            }
        });       
    </script>
    <style>
        html,
        body {
            background-image: url("https://digitalhub.fifa.com/m/37d3f7f05a05f269/original/gpebymowybmgyiw1u3aj-jpg.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .btn {
            border: none;
            color: white;
            padding: 0px 32px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;

        }

        .btn1 {
            background-color: rgba(128, 128, 128, 0.418);
        }

        .btn1:hover {
            background-color: gray;
        }

        /* Green */
        .btn2 {
            background-color: #008CBA;
        }
    </style>

</html>